* {box-sizing: border-box; margin: auto;}

.sidebar-box {
  background-color: #192b3c;
  width: 250px;
  height: 100%;
  left: 0;
}

.sidebar-box-admin {
  background-color: #192b3c;
  width: 250px;
  height: 110%;
  left: 0;
}

/* Sidebar avatar - info */
.sidebar-avatar {
  margin-bottom: 20px;
  margin-top:   20px;
  border-radius: 50%;
  width:  80px;
  height: 80px;
}

.sidebar-user {
  color: white;
}

.sidebar-user h2{
  background-image: url("../images/fondo-name.png");
  background-size: cover;
  border-bottom: 5px solid #123;
  font-size: 1.2em;
  color: white;
  width:  100%;
}

.sidebar-user h4{
  font-style: italic;
  color: #FFDC35;
}

/* ICONOS */
.img-user {
  background-image: url("../images/iconos-menu/user.png");
  background-size: cover;
  display:block;
  width:  30px;
  height: 30px;
}

.img-plane {
  background-image: url("../images/iconos-menu/plane.png");
  background-size: cover;
  display:block;
  width:  30px;
  height: 30px;
}

.img-bots {
  background-image: url("../images/iconos-menu/bots.png");
  background-size: cover;
  display:block;
  width:  30px;
  height: 30px;
}
/* fin icono */

.menu-avatar{
  text-align: center;
  list-style: none;
  color: #C8C8C8;
}

.menu-avatar li{
  margin-right: 10px;
  float: left;
}
/* FIN  Sidebar avatar - info */

/* MENU SIDEBAR */

.menu-sidebar {
  margin-top: 50px;
  float: left;
  width: 100%;
}

.menu-sidebar ul{
  width: 100%;
  padding: 0;
}

.menu-sidebar li{
  list-style: none;
  width: 100%;
}

.menu-sidebar a{
  text-decoration: none;
  display: inline-block;
  padding-left: 40px;
  padding-top: 10px;
  margin-top: 2px;
  color:  #E6E6E6;
  width:  100%;
  height: 40px;
}

.menu-sidebar--up a{
  border-right: 10px solid #216AAC;
  background-color: #243e56;
}

.menu-sidebar a:hover {
  background-color: #243e56;
}

.menu-sidebar a:active {
  background-color: #061A2B;
}

.menu-sidebar  span{
  position: absolute;
  padding-left: 20px;
  font-size: 1em;
}


/** ICONOS SIDEBAR **/
.img-sidebar-home {
  background-image: url("../images/iconos-menu/home.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-store {
  background-image: url("../images/iconos-menu/compra.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-attack {
  background-image: url("../images/iconos-menu/attack.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-tools {
  background-image: url("../images/iconos-menu/tools.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-support {
  background-image: url("../images/iconos-menu/support.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}
/* FIN ICONOS */

/* ADMINISTRADOR */

.img-sidebar-admin {
  background-image: url("../images/iconos-menu/admin.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-manage {
  background-image: url("../images/iconos-menu/manage1.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-loggs {
  background-image: url("../images/iconos-menu/loggs.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-hislogg {
  background-image: url("../images/iconos-menu/hislogg.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-db {
  background-image: url("../images/iconos-menu/db.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-methods {
  background-image: url("../images/iconos-menu/methods.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-utilities {
  background-image: url("../images/iconos-menu/utilities.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}

.img-sidebar-pagos {
  background-image: url("../images/iconos-menu/pagos.png");
  background-size: cover;
  float: left;
  width:  20px;
  height: 20px;
}
