* {box-sizing: border-box; margin:auto; margin: auto;}

body {
  background-color: black;
}

.fondo-sidebar {
  background-color: #BBBABA;
}

.avatar {
  margin-top: 20px;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.menu-user {
  text-decoration: none;
  font-weight:  bold;
  font-style: italic;
  font-size: 1em;
  color: white;
}

.menu-avatar {
  display:inline-block;
  text-align: center;
  list-style: none;
}

.menu-avatar-sections {
  margin-right: 10px;
  float: left;
}

.img-user {
  background-image: url("../images/iconos-menu/user.png");
  background-size: cover;
  width:  30px;
  height: 30px;
}

.img-plane {
  background-image: url("../images/iconos-menu/plane.png");
  background-size: cover;
  width:  30px;
  height: 30px;
}

.img-bots {
  background-image: url("../images/iconos-menu/bots.png");
  background-size: cover;
  width:  30px;
  height: 30px;
}

ul.menu-sidebar{
  padding: 0;
}

.menu-sidebar {
  display: block;
  list-style: none;
  width:  100%;
}

.menu-sidebar li {
  border-top: 1px solid #A0A0A0;
}

.menu-sidebar a{
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  width:  100%;
  color: white;
}
.menu-sidebar span{
  position: absolute;
  padding-left: 20px;
  padding-top: 5px;
}

.menu-sidebar a:hover {
  background-color: #3C6185;
  color: #000;
}

.menu-sidebar a:active {
  background-color: white;
  color: #fff;
}

/** ICONOS SIDEBAR **/
.img-sidebar-home {
  background-image: url("../images/iconos-menu/home.png");
  background-size: cover;
  float: left;
  width:  30px;
  height: 30px;
}

.img-sidebar-store {
  background-image: url("../images/iconos-menu/compra.png");
  background-size: cover;
  float: left;
  width:  30px;
  height: 30px;
}

.img-sidebar-attack {
  background-image: url("../images/iconos-menu/attack.png");
  background-size: cover;
  float: left;
  width:  30px;
  height: 30px;
}

.img-sidebar-tools {
  background-image: url("../images/iconos-menu/tools.png");
  background-size: cover;
  float: left;
  width:  30px;
  height: 30px;
}

.img-sidebar-support {
  background-image: url("../images/iconos-menu/support.png");
  background-size: cover;
  float: left;
  width:  30px;
  height: 30px;
}
/* FIN ICONOS */
