* {box-sizing: border-box; margin: auto;}

#bg-index {
  background-image: url("../images/fondo6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#nav-index {
  border-bottom: solid #171717 6px;
  background-color: #353B49;
  overflow: hidden;
  padding-right: 5%;
  padding-top: 1px;
  opacity: 0.9;
  width:  100%;
  height:   50px;
}

ul {
  list-style: none;
}

#logo-index {
  float: left;
  width: 120px;
  height: 40px;
}

#title-index {
  margin-top: 0;
  float: left;
  padding: 5px;
  color: #4FF7AF;
}


#title-index span{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  text-shadow: 0px 4px 4px;
}

li {
  float: right;
}

li a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  display: block;
  padding:  10px;
  color:   #7AE6B7;
}

li a:hover {
  background-color: #191919;
  color:	#12DCDB;
}

/* SECTION index TITULO */
.box-header {
  text-align: center;
  width:  100%;
  height: 150px;
  padding: 13px;
}

span#title-header {
  font-family: 'Jockey One', sans-serif;
  text-shadow: bold;
  text-transform: uppercase;
  font-size: 5em;
  letter-spacing: 5px;
  overflow: hidden;
  background: linear-gradient(100deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: titulo 3.5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.01);
}

@keyframes titulo {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* FIN TITULO INDEX */
.planes-padre {
  display: flex;
  align-items: center;
}

.planes-d{
  background-image: url("../images/wb3.jpg");
  background-repeat: no-repeat;
  background-position: 90 13;
  background-size:    60px;
  float: left;
  width:   250px;
  height:  340px;
  margin: 0 auto;
}

.planes-logo{
  z-index: 1;
  position: relative;
  width: 100%;
  height: 20%;
}

.planes-name {
  background: rgba(92,0,0,1);
  background: -moz-linear-gradient(left, rgba(53,59,73,1) 0%, rgba(7,225,232,0.78) 29%, rgba(5,245,155,0.6) 53%, rgba(53,59,73,0.39) 82%, rgba(53,59,73,0.25) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,59,73,1)), color-stop(29%, rgba(7,255,232,0.78)), color-stop(53%, rgba(7,255,232,0.6)), color-stop(82%, rgba(5,245,155,0.39)), color-stop(100%, rgba(53,59,73,0.25)));
  background: -webkit-linear-gradient(left, rgba(53,59,73,1) 0%, rgba(7,225,232,0.78) 29%, rgba(5,245,155,0.6) 53%, rgba(53,59,73,0.39) 82%, rgba(53,59,73,0.25) 100%);
  background: -o-linear-gradient(left, rgba(53,59,73,1) 0%, rgba(7,225,232,0.78) 29%, rgba(5,245,155,0.6) 53%, rgba(53,59,73,0.39) 82%, rgba(53,59,73,0.25) 100%);
  background: -ms-linear-gradient(left, rgba(53,59,73,1) 0%, rgba(7,225,232,0.78) 29%, rgba(5,245,155,0.6) 53%, rgba(53,59,73,0.39) 82%, rgba(53,59,73,0.25) 100%);
  background: linear-gradient(to right, rgba(53,59,73,1) 0%, rgba(7,225,232,0.78) 29%, rgba(5,245,155,0.6) 53%, rgba(53,59,73,0.39) 82%, rgba(53,59,73,0.25) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c0000', endColorstr='#660000', GradientType=1 );
  border-bottom: 3px solid ##04F6B2;
  position: relative;
  padding: 2px;
  z-index: -1;
  width: 100%;
  height: 10%;
}

.planes-name p{
  font-family: 'Jockey One', sans-serif;
  text-align: center;
  color: white;
}

.planes-content{
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding-top: 10%;
  width: 100%;
  height: 80%;
  color: white;
}

.planes-content h5{
  text-align:  center;
  font-weight: bolder;
  color: white;
}

.coste {
  font-family: 'Jockey One', sans-serif;
  background-color: #EEE8E8;
  border-radius: 5px;
  text-align: center;
  margin-top: 10%;
  color: black;
  width:  30%;
  height: 10%;
}


 /*       REGISTRO Y LOGIN         */
 /*       REGISTRO Y LOGIN         */

#bg-rl {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0,0.6)), url("../images/fondo9.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#register {
  background-color: black;
  background: rgba(0,0,0,0.2);
  overflow: hidden;
  width:  280px;
  height: 270px;

}

#register input{
  -webkit-appearance: none;
  padding-left: 3%;
  border: none;
  width:   96%;
  height: 25px;
  margin:  5px;
}

#login {
  background-color: black;
  background: rgba(0,0,0,0.2);
  overflow: hidden;
  width:  280px;
  height: 200px;
}

#login input{
  -webkit-appearance: none;
  padding-left: 3%;
  border: none;
  width:   96%;
  height: 25px;
  margin:  5px;
}

.img-register {
  background-image: url("../images/logo4.png");
  background-size: cover;
  margin-bottom: 10px;
  margin-top: 20px;
  width:  50px;
  height: 50px;
}

.links-a {
  text-decoration: none;
  text-align: center;
  font-weight:  bold;
  color: #D29900;
}

.white {
  color:  white;
}

p, a{
  text-align: center;

}

.hr-mida1 {
  margin-bottom: 10px;
  margin-top:    20px;
  width: 400px;
}

.button-yellow {
  background: url("../images/button.gif") no-repeat;
  background-size:  cover;
  margin-top: 10px;
  margin-left: 5px;
  border: none;
  opacity: 0.7;
  width:  30px;
  height: 20px;
}

#error-rl {
  background-color: white;
  opacity: 0.4;
  width:  100%;
  height: 30px;
  color: red;
}
