* { box-sizing: border-box; margin: auto; }

.bg-index {
  background-color: #E1E1E1;
  padding: 10px 10px 10px 10px;
}

.banner-head {
  width: 100%;
  height: 75px;
  background-image: url("../images/header-banner.png");
  box-shadow: 0 5px 10px;
  background-size: cover;
  overflow: hidden;
}

span.title-banner {
  padding: 2%;
  font-family: 'Jockey One', sans-serif;
  text-shadow: bold;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 5px;
  overflow: hidden;
  background: linear-gradient(100deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: titulo-banner 3.5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.05);
}

@keyframes titulo-banner {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.contenedor-index {
  box-shadow: 0 3px 5px;
  margin-top: 10px;
  width: 100%;
}

.contenido-index-title {
  font-family: 'Jockey One', sans-serif;
  border-bottom: solid 3px #898989;
  background-color: #B4B4B4;
  padding-left: 20px;
  padding-top: 8px;
  overflow: hidden;
  font-size: 1.2em;
  color: #373737;
  height: 50px;
  width:  100%;
}

.contenido-index {
  background-color: #E1E1E1;
  width: 100%;
  height: 300px;
}
