<?php

/**
 * NOTICE: BE CAREFUL WHEN EDIITNG THIS FILE
 * THIS FILE CONTAINS BOTH NAVIGATIONS TO THE
 * USER DASHBOARD AND THE ADMIN PANEL
 */

global $userInfo;

$currentPage = (isset($currentPage) ? $currentPage : "");
$adminPanel = (isset($currentPage) && substr($currentPage, 0, 6) === "admin_");

// User dashboard
if ( $adminPanel === false )
{
?>
  <div class="sidebar-box">
    <!-- Usuario INfo etc... -->
    <div class="sidebar-user">
      <center>
        <img class="sidebar-avatar" src="images/avatar1.png"/>
        <h2 class="menu-user">¡Hola <?php echo htmlentities($_SESSION['username']); ?>!</h2>
        <h4 class="menu-user">~/ <?php echo ( isset($userInfo['name']) && !empty($userInfo['name']) ? $userInfo['name'] : "No Plan" ); ?></h4>
        <br>
      </center>
    </div>
    <div>
      <ul class="menu-avatar">
        <li>
          <div class="img-user"></div>
          <p>Max Boot</p>
          <p><?php echo $userInfo['mbt']; ?></p>
        </li>
        <li>
          <div class="img-plane"></div>
          <p>Con.</p>
          <p><?php echo ($userInfo['max_boots']+$userInfo['pboots']); ?></p>
        </li>
        <li>
          <div class="img-bots"></div>
          <p>Your Boots</p>
          <p><?php echo $stats -> totalBootsForUser($odb, $_SESSION['username']); ?></p>
        </li>
      </ul>
    </div>

    <!-- LINKS -->
    <div class="menu-sidebar">
      <ul>

        <li<?php echo ($currentPage === "dashboard" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="index.php">
            <div class="img-sidebar-home"></div>
            <span>
                Inicio
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "purchase" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="purchase.php">
            <div class="img-sidebar-store"></div>
            <span>
                Tienda
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "booter" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="hub.php">
            <div class="img-sidebar-attack"></div>
            <span>
                Attack
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "tools" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="tools.php">
            <div class="img-sidebar-tools"></div>
            <span>
                Herramientas
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "<?php echo URL; ?>support" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="support.php">
            <div class="img-sidebar-support"></div>
            <span>
                Support
            </span>
          </a>
        </li>
        <?PHP	if ($user -> isAdmin($odb))	{

      ?>
        <li>
          <a href="admin/index.php">
            <div class="img-sidebar-admin"></div>
            <span>
                Administrador
            </span>
          </a>
        </li>
                  <?php
          }
          ?>


      </ul>
    </div>

  </div>
<?php
}

// Administrator panel
else
{
?>
  <div class="sidebar-box-admin">
    <!-- Usuario INfo etc... -->
    <div class="sidebar-user">
      <center><br>
        <h2 class="menu-user">¡Hola root!</h2>
        <h4 class="menu-user">premium</h4>
        <br>
      </center>
    </div>
    <div>
      <ul class="menu-avatar">
        <li>
          <div class="img-user"></div>
          <p>Max Boot</p>
          <p></p>
        </li>
        <li>
          <div class="img-plane"></div>
          <p>Con.</p>
          <p></p>
        </li>
        <li>
          <div class="img-bots"></div>
          <p>Your Boots</p>
          <p></p>
        </li>
      </ul>
    </div>

    <!-- LINKS -->
    <div class="menu-sidebar">
      <ul>

        <li<?php echo ($currentPage === "admin_index" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/index.php">
            <div class="img-sidebar-home"></div>
            <span>
                Inicio
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "admin_user" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/edituser.php">
            <div class="img-sidebar-manage"></div>
            <span>
                Gestión
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "admin_support" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/support.php">
            <div class="img-sidebar-support"></div>
            <span>
                Support Center
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "admin_attacks" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/attacklogs.php">
            <div class="img-sidebar-loggs"></div>
            <span>
                Attack Logs
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "admin_logins" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/logins.php">
            <div class="img-sidebar-hislogg"></div>
            <span>
                Login History
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "admin_servers" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/servers_layer7.php">
            <div class="img-sidebar-db"></div>
            <span>
                Server Layer 7
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "admin_servers" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/servers_layer4.php">
            <div class="img-sidebar-db"></div>
            <span>
                Server Layer 4
            </span>
          </a>
        </li>


        <li<?php echo ($currentPage === "admin_methods" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/methods.php">
            <div class="img-sidebar-methods"></div>
            <span>
                Gestión de metodos
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "admin_sm" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/methods.php">
            <div class="img-sidebar-db"></div>
            <span>
                Servidores y Metodos
            </span>
          </a>
        </li>


        <li<?php echo ($currentPage === "admin_utilities" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/utilities.php">
            <div class="img-sidebar-utilities"></div>
            <span>
                Servicios Internos
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "admin_plans" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/plans.php">
            <div class="img-sidebar-loggs"></div>
            <span>
                Gestión de Planes
            </span>
          </a>
        </li>

        <li<?php echo ($currentPage === "admin_payments" ? ' class="menu-sidebar a:active"' : ''); ?>>
          <a href="admin/payments.php">
            <div class="img-sidebar-store"></div>
            <span>
                Pagos
            </span>
          </a>
        </li>

        <li>
          <a href="index.php">
            <div class="img-sidebar-utilities"></div>
            <span>
                Volver Inicio / normal
            </span>
          </a>
        </li>


      </ul>
    </div>

  </div>
  <!-- i hate this theme ahahhahaha --->
  <div style="height:250px;"></div>

<?php
}

</body>
</html>
